@import '../../styles/Colors.scss';

.CollectionPage {
    background: white;
    min-height: 100vh;
    color: $primaryColor;
    overflow-x: initial;
}

.CollectionNavbar {
    a {
        color: $primaryColor !important;
    }
}

.HorizontalAlert {
    height: calc(100vh - 60px - 8rem);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 1rem;
    width: 100vw;
    text-align: center;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    border-radius: 10px;
    margin: 1px 5px;
}

.LandingPage {
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}
