@import '../../styles/Colors.scss';

.CollectionPageDescription {
    font-family: 'Quicksand', 'Noto Serif JP', sans-serif;
    margin: 2rem 1.3rem;
    h1 {
        font-weight: lighter;
        font-size: 2rem;
        padding: 1rem 0;
    }
    p {
        padding: 1rem 0;
    }
}
.ContentContainer {
    img {
        max-width: calc(100vw - 2.6rem);
        max-height: 90vw;
        margin: auto;
    }
}

.PhotoContainer {
    margin: 1rem 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-family: 'Quicksand', 'Noto Serif JP', sans-serif;
        font-size: 1rem;
        width: 90vw;
        display: block;
    }
}

.StoriesContainer {
    width: 100%;
}
