@import "../Styles/Colors.scss";

.ContentContainer {
  height: calc(100vh - 60px - 8rem);
  display: flex;
  flex-direction: initial;
  align-items: center;
  width: auto;
  overflow: auto;
  overflowx: scroll;
  margin: 0 1rem;
  h1 {
    font-weight: lighter;
    font-size: 2rem;
  }
}
.DescriptionPlaceholder { 
  height: 10vh;
}

.CollectionPageDescription {
  font-family: "Quicksand", "Noto Serif JP", sans-serif;
  width: 400px;
  min-width: 400px;
  height: 100%;
  h1 {
    margin: 2rem 1rem;
  }

  p {
    margin: 2rem 1rem;
  }
}

.PhotoContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .picContainer {
    height: 60vh;
    display: flex;
    align-items: center;
  }

  img {
    max-width: 80vh;
    max-height: 60vh;
  }
}

.storiesContainer {
  width: 350px;
  height: inherit;
  padding: 1rem;
  font-family: "Quicksand", "Noto Serif JP", sans-serif;
  .storiesPlaceHolder {
    width: 350px;
    height: 20vh;
  }
  p {
    font-size: 1rem;
    margin: 2rem 1rem;
  }
}
