$primaryColor: #111d2b;
$primaryFontColor: #d9f2ff;
$primaryColorComplimentary: #85704d;
$secondaryColor: #bed6f1;
$btnHoverBackgroundColor: rgba(235, 216, 183, 0.95);
$btnHoverFontColor: #172639;
$lightTextColorComplimentary: #ffeac7;
$HomePageLightTextColor: #f7d392;
$darkTextColor: #172639;
$complimentaryTextColor: #a18f6f;
$logoColor: #e3c084;
$lightTextColor: #e0efff;
$skillCardBackgroundColor: #284263;
$maxWidth: 1200px;
