@import '../../../styles/Colors';

.pageContainer {
    max-width: 100vw;
    font-family: 'Sora', serif;
    margin: auto;
    font-size: 1.35vw;

    @media (max-width: 900px) {
        font-size: 1em;
    }

    @media (min-width: 2000px) {
        font-size: 1.05vw;
    }
}
