@import "../../Styles/Colors";

.container {
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
}

.title {
  color: $logoColor;
  align-self: center;
  font-size: 3rem;
  margin: 1.3rem 2rem;

  @media (max-width: 600px) {
    margin: 1rem;
  }
}

.noShow {
  display: none;
}

.periodContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  @media(max-width: 600px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

.period {
  margin: 0.5rem;
  font-family: 'Playfair Display', serif;
  font-size: 0.8rem;

  span {
    color: $logoColor;
    font-size: 1rem;
    margin: 0 0.5rem;
  }
}

.subTitle {
  font-size: 2rem;
  color: $complimentaryTextColor;
  margin: 1rem 2rem;

  @media (max-width: 600px) {
    font-size: 1.5rem;
    margin: 1rem;
  }
}

.contentText {
  margin: 0.8rem 2rem;
  line-height: 2.5rem;

  li::marker {
    color: $complimentaryTextColor;
  }

  span {
    color: $logoColor;
    font-weight: bold;
    margin: 0 0.2rem;
  }

  @media (max-width: 600px) {
    font-size: 0.9rem;
    margin: 1.2rem;
    line-height: 2rem;
  }
}

.normalPic {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #000;

    @media (max-width: 600px) {
      max-width: 70vw;
    }
  }
}

.additionalInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $complimentaryTextColor;
}

.footer {
  margin: 2rem;
  text-align: center;
  color: $complimentaryTextColor;

  a {
    padding: 0 1rem;
    color: $logoColor;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $lightTextColorComplimentary;
    }
  }
}

.footerLine {
  margin: 1rem;

  span {
    font-size: 12px;
  }
}

.infoText {
  margin: 1rem 0;
}

.imgContainerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  margin: 2rem 2rem 1rem;
  height: 550px;
  width: 700px;

  img {
    border-radius: 5px;
  }

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

.baseImg {
  position: absolute;

  transition: all 0.3s linear;

  img {
    box-shadow: 10px 10px 30px #000000AA;
    max-height: 400px;
    max-width: 82vw;
  }
  
  @media (max-width: 900px) {
    position: static;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }
}

.imgOne {
  @extend .baseImg;

  z-index: 301;
  transform: translateX(50px);

  img {
    height: 300px;
  }

  &:hover {
    transform: translateX(50px) translateY(-10px);
  }

  @media (max-width: 900px) {
    transform: none;


    &:hover {
      transform: none;
    }
  }
}

.imgTwo {
  @extend .baseImg;

  z-index: 300;

  transform: translateX(180px) translateY(50px);

  &:hover {
    z-index: 302;
    transform: translateX(200px) translateY(30px);
  }

  @media (max-width: 900px) {
    transform: none;

    &:hover {
      transform: none;
    }
  }
}

.imgThree {
  @extend .baseImg;

  z-index: 299;

  transform: translateX(230px) translateY(100px);

  &:hover {
    z-index: 303;
    transform: translateX(250px) translateY(80px);
  }

  @media (max-width: 900px) {
    transform: none;

    &:hover {
      transform: none;
    }
  }
}