@import '../../../../../styles/Colors';

.introTitleContainer {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.underline {
  width: 40px;
  margin: 0.4em 0 0.7em;
  background: $logoColor;
  height: 4px;
  border-radius: 60px;
}