@import "../Comp/Styles/Colors.scss";

.LatestWorkContent {
  max-width: $maxWidth;
  margin: auto;
}

.LatestWorkTitle {
  font-family: "Antic Slab", serif;
  color: $logoColor;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin: 5vh 0;
  @media (max-width: 600px) {
    font-size: 2rem;
  }
}
