@import '../Comp/Styles/Colors.scss';

.LatestWorkContent {
    max-width: $maxWidth;
    margin: auto;
}

.LatestWorkTitle {
    font-family: 'Antic Slab', serif;
    color: $logoColor;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    margin: 5vh 0;
    @media (max-width: 600px) {
        font-size: 2rem;
    }
}
.HorizontalAlert {
    height: calc(100vh - 60px - 11rem);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 1rem;
    width: 100vw;
    text-align: center;
}
