@import '../../Styles/Colors.scss';

.navbarContainer {
    margin: auto;
    height: 60px;
    @media (min-width: 1200px) {
        font-size: MIN(1.33vw, 20px);
        width: 95vw;
    }
    @media (min-width: 1200px) {
        height: MIN(80px, 5vw);
    }
}

.navbarContainer .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    @media (min-width: 1200px) {
        height: MIN(80px, 5vw);
    }
}

.navbarContainer .navbar h1 {
    font-size: 2em;
    font-weight: 400;
    margin: auto 0;
    margin-top: 1rem;
    padding: 0 1rem;
}

.navbarContainer .navbar a {
    text-decoration: none;
    color: $logoColor;
}

.navbar img {
    margin-top: -0.1rem;
    height: 40px;
    @media (min-width: 1200px) {
        height: MIN(60px, 3.33vw);
    }
}

.navbarContainer .navbarLinks {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbarElement {
    position: relative;
    // overflow: hidden;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.navbarLink {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    // color: $primaryFontColor;

    transition: all 0.5s ease-in-out;

    a {
        padding: 0 1em;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.navbarElement:hover {
    cursor: pointer;
    box-sizing: border-box;
    background-color: $btnHoverBackgroundColor;
    color: $btnHoverFontColor;
    border-bottom: 1px solid $btnHoverFontColor;

    a {
        color: $btnHoverFontColor;
    }
}

@media (max-width: 600px) {
    .navbarContainer {
        height: 100px;
    }
    .navbarContainer .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbarContainer .navbar h1 {
        font-size: 2rem;
        font-weight: 400;
        margin: auto 0;
        margin-top: 1rem;
        padding: 0 1rem;
    }
    .navbarContainer .navbarLinks {
        min-height: 40px;
    }
    .navbarContainer .navbarLinks a {
        height: 40px;
    }
}
