.PicPreviewContainer {
    display: flex;
    width: 100%;
    height: inherit;
    flex-direction: initial;
    align-items: center;
}

.SmallPic {
    max-height: 10vh;
    max-width: 10vh;
    transition: transform 0.2s ease-in-out;
    img {
        box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem rgba(0, 0, 0, 0.2);
        max-width: 10vh;
        max-height: 10vh;
        transition: transform 0.2s ease-in-out;
    }
}
