@import '../../../../styles/Colors';

.mainContainer {
  margin: 5em auto 8em;
  display: flex;
  flex-direction: row;
  width: calc(100vw - 14em);
  @media (min-width: 2000px) {
    width: calc(100vw - 20em);
    margin: 5em auto 8em;
  }
}

.backgroundRect {
  position: absolute;
  background: rgba($lightTextColor, 0.1);
  height: 14em;
  margin-top: 7em;
  width: calc(100vw - 14em);
  z-index: -10;
  @media (min-width: 2000px) {
    width: calc(100vw - 20em);
  }
}

.textContainer {
  flex: 1;
  padding: 1em 4em;
}

.titleContainer {
  padding: 2em 2em;
  h1 {
    font-size: 3.5em;
    color: $logoColor;
    font-weight: normal;
  }
}

.imgContainer img{
  max-width: 20em;
  max-height: 20em;

  @media (min-width: 2000px) {
    margin-right: 5em;
  }
}

.detailContainer {
  padding: 0.5em 2em;

  .details {
    max-width: 25em;
    line-height: 1.5;
  }
}

.floatingSquare {
  position: absolute;
  background: rgba($logoColor, 0.2);
  width: 5em;
  height: 5em;
  z-index: -11;
}